<p>reactiveforms works!</p>
<h1>Profile Form Group Template</h1>
<form [formGroup]="profileForm">
    <mat-form-field appearance="outline">
        <label for="firstName">First Name: </label>
        <input matInput id="firstName" formControlName="firstName" />
        <mat-error class="error-msg" *ngIf="checkError('firstName', 'required','profileForm')">FirstName is required</mat-error>
        <mat-error class="error-msg" *ngIf="checkError('firstName', 'minlength','profileForm')">Min Length 4</mat-error>
        <mat-error class="error-msg" *ngIf="checkError('firstName', 'maxlength','profileForm')">Max Length 4</mat-error>
    </mat-form-field>
    <br />
    <mat-form-field appearance="outline">
        <label for="phoneNumber">Phone Number: </label>
        <input matInput id="phoneNumber" formControlName="phoneNumber" />
        <mat-error class="error-msg" *ngIf="checkError('phoneNumber', 'required','profileForm')">PhoneNumber is required</mat-error>
        <mat-error class="error-msg" *ngIf="checkError('phoneNumber', 'phoneNumber','profileForm')">Invalid Format</mat-error>
    </mat-form-field>
    <br />
    <mat-form-field appearance="outline">
        <label for="password">Password </label>
        <input matInput id="password" [type]="passwordHide ? 'password' : 'text'" formControlName="password" />
        <mat-icon matSuffix (click)="passwordHide = !passwordHide">{{passwordHide ? 'visibility_off' : 'visibility'}}</mat-icon>
        <mat-hint>Example 123PASSWord</mat-hint>
        <mat-error class="error-msg" *ngIf="checkError('password', 'required','profileForm')">Password is required</mat-error>
        <mat-error class="error-msg" *ngIf="checkError('password', 'alphanumericpassword','profileForm')">Password isn't Alphanumeric</mat-error>
    </mat-form-field>
    <br />
    <mat-form-field appearance="outline">
        <label for="confirmPassword">Confirm Password </label>
        <input matInput id="confirmPassword" type="password" formControlName="confirmPassword" />
        <mat-error class="error-msg" *ngIf="checkError('confirmPassword', 'required','profileForm')">Confirm Password is required</mat-error>
        <mat-error class="error-msg" *ngIf="checkError('confirmPassword', 'passwordMismatch','profileForm')">Passwords do not match</mat-error>
    </mat-form-field>
    <br />
    <div class="group-gap">
        <h5>Gender</h5>

        <div class="custom-control custom-radio">
            <input id="male" type="radio" class="custom-control-input" value="male" name="gender" formControlName="gender" />
            <label class="custom-control-label" for="male">Male</label>
        </div>

        <div class="custom-control custom-radio">
            <input id="female" type="radio" class="custom-control-input" value="female" name="gender" formControlName="gender" />
            <label class="custom-control-label" for="female">Female</label>
        </div>
    </div>
    <br />
    <div class="form-group form-check">
        <input id="acceptTerms" type="checkbox" formControlName="acceptTerms" class="form-check-input" />
        <label for="acceptTerms" class="form-check-label">Accept Terms & Conditions</label>
    </div>
    <br />
    <h1>File Upload #1</h1>
    <input type="file" class="file-upload1" (change)="onFileUpload($event)" />
    <h1>File Upload #2</h1>
    <input type="file" class="file-input" (change)="onFileSelected($event)" #fileUpload />

    <div class="file-upload">
        {{fileName || "No file uploaded yet."}}

        <button mat-mini-fab color="primary" class="upload-btn" (click)="fileUpload.click()">
            <mat-icon>attach_file</mat-icon>
        </button>
    </div>
    <br />
    <br />
    <button [disabled]="!profileForm.valid" (click)="submitForm(profileForm.value)">Submit profileForm</button> &nbsp;
    <pre>
        {{profileForm.value | json}}


    </pre>
</form>

<h1>Athlete Form Builder Template</h1>
<form [formGroup]="athleteForm">
    <mat-form-field appearance="outline">
        <label for="fullName">Full Name: </label>
        <input matInput id="fullName" formControlName="fullName" />
        <mat-error class="error-msg" *ngIf="checkError('fullName', 'required','athleteForm')">FullName is required</mat-error>
    </mat-form-field>
    <br />
    <h6>Cities</h6>
    <span class="mr-2" *ngFor="let city of cities; let i = index" formArrayName="cities">
        <input type="checkbox" [formControlName]="i" [id]="i + '-' + city" />
        &nbsp;<span>{{city}}</span>
    </span>
    <br />
    <br />
    <h6>Zipcode</h6>
    <span class="mr-2" *ngFor="let zipCode of zip_codes; let i = index" formArrayName="zip_codes">
        <input type="checkbox" [formControlName]="i" [id]="i + '-' + zipCode" />
        &nbsp;<span>{{zipCode}}</span>
    </span>
    <br />
    <button [disabled]="!athleteForm.valid" (click)="submitForm(athleteForm.value)">Submit athleteForm</button>
    <pre>
        {{athleteForm.value | json}}
    </pre>
</form>
