<!-- Interpolation: Template Expression -->
<h1>{{helloWorld}}</h1> <!-- One way binding -->

<app-child></app-child> <!-- Show child to parent component-->


 <!--For Loop-->
 <div *ngFor="let location of locations">
    <p>{{location.name}} </p>
  </div>

    <!--If else-->
    <ng-container *ngIf="gender == 'M'; else other">
        <p>Male</p>
    </ng-container>
    <ng-template #other>
        <p>Other</p>
    </ng-template>

    <!--Event Binding-->
    <button (click)="changeHelloWorld()">Click Me!</button>
     
    <br>
    <br>

    <!--Property Binding-->
    <img alt="item" [src]="itemImageUrl"
    width="250px" height="250px">
    <img alt="item" src="{{itemImageUrl}}" width="250px" height="250px">

    <br>
        <!--Two way binding-->
  User Name: <input type="text" [(ngModel)]="userName"  ><br/>
  {{userName}}

  <br>

<!-- Pipes -->
 <p> Price: {{price1 | currency | lowercase}}</p> <!-- Chain Pipes -->
 <p> Price: {{price2 | currency:'USD':'symbol':'1.2-2'}}</p> <!--  Pipes with Parameters -->
 <img alt="item" [src]="itemImageUrl"
   width="250px" height="250px"
   [title]="itemImageTitle | lowercase"> <!-- Simple Pipe -->


   <br>
   <button mat-raised-button color="primary" (click)="showModal()">Show Modal</button>
   <h1>{{animal}}</h1> 
   <p>Modal Close? {{isModalClose}}</p>